<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Medcare Medical</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main1.css" rel="stylesheet" media="all">
    <style>
        .requestForm {
            width: 80%;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 5%;

            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .input--request {
            width: 50%;
            padding: 5px;
            margin: 8px 0;
            margin-left: 2em;
            margin-right: 2em;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        table {
            font-family: arial, sans-serif;
            padding-left: 5%;
            padding-right: 5%;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .request-button {
            border: 1px solid black;
        }

        label {

            text-align: right;
            clear: both;
            float: left;
            margin-right: 15px;
        }
    </style>
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container">
                <div class="float-left">
                    <a class="dn_btn" href="mailto:medical@example.com"><i class="ti-email"></i>medical@example.com</a>
                    <span class="dn_btn"> <i class="ti-location-pin"></i>Find our Location</span>
                </div>
                <div class="float-right">
                    <ul class="list header_social">
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li><a href="#"><i class="ti-skype"></i></a></li>
                        <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/healthrecord">Health Record</a></li>
                            <li class="nav-item"><a class="nav-link" href="doctors.html">Doctors</a></li>
                            <li class="nav-item"><a class="nav-link" href="doctors.html">Patients</a></li>
                            <li class="nav-item"><a class="nav-link" href="/request/">Request</a></li>
                            <li class="nav-item"><a class="nav-link" href="/profile/">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <% if(data.conclusion != null){ %>
    <div class="requestForm">
        <table>
            <tr>
                <th>healthRecordId</th>
                <td><%=data.healthRecordId%></td>
            </tr>
            <tr>
                <th>hight</th>
                <td><%=data.hight%></td>
            </tr>
            <tr>
                <th>tuoithai</th>
                <td><%=data.tuoithai%></td>
            </tr>
            <tr>
                <th>hatthu0</th>
                <td><%=data.hatthu0%></td>
            </tr>
            <tr>
                <th>hattruong0</th>
                <td><%=data.hattruong0%></td>
            </tr>
            <tr>
                <th>tieucau0</th>
                <td><%=data.tieucau0%></td>
            </tr>
            <tr>
                <th>tq0</th>
                <td><%=data.tq0%></td>
            </tr>
            <tr>
                <th>aptt0</th>
                <td><%=data.aptt0%></td>
            </tr>
            <tr>
                <th>fibrinogen0</th>
                <td><%=data.fibrinogen0%></td>
            </tr>
            <tr>
                <th>ast0</th>
                <td><%=data.ast0%></td>
            </tr>
            <tr>
                <th>alt0</th>
                <td><%=data.alt0%></td>
            </tr>
            <tr>
                <th>creatinin0</th>
                <td><%=data.creatinin0%></td>
            </tr>
            <tr>
                <th>ure0</th>
                <td><%=data.ure0%></td>
            </tr>
            <tr>
                <th>auric0</th>
                <td><%=data.auric0%></td>
            </tr>
            <tr>
                <th>ldh0</th>
                <td><%=data.ldh0%></td>
            </tr>
            <tr>
                <th>damnieu0</th>
                <td><%=data.damnieu0%></td>
            </tr>
            <tr>
                <th>damnieu24h0</th>
                <td><%=data.damnieu24h0%></td>
            </tr>
            <tr>
                <th>protein0</th>
                <td><%=data.protein0%></td>
            </tr>
            <tr>
                <th>bilirubintp0</th>
                <td><%=data.bilirubintp0%></td>
            </tr>
            <tr>
                <th>bilirubintt0</th>
                <td><%=data.bilirubintt0%></td>
            </tr>
            <tr>
                <th>conclusion</th>
                <td><%=data.conclusion%></td>
            </tr>
            <tr>
                <th>owner</th>
                <td><%=data.owner%></td>
            </tr>
        </table>
    </div>
    <% } %>
    <% if (data.conclusion == null) { %>
    <div class="inputForm">
        <form action="/healthrecord" method="POST">
            <!-- <label for="hight" style="float: left">hight</label> -->
            <input type="number" placeholder="Hight" name="hight" id="hight">
            <!-- <label for="tuoithai" style="float: left">tuoithai</label> -->
            <input type="number" placeholder="Age of pregnancy" name="tuoithai" id="tuoithai">
            <!-- <label for="hatthu0" style="float: left">hatthu0</label> -->
            <input type="number" placeholder="hatthu0" name="hatthu0" id="hatthu0">
            <!-- <label for="hattruong0" style="float: left">hattruong0</label> -->
            <input type="number" placeholder="hattruong0" name="hattruong0" id="hattruong0">
            <!-- <label for="tieucau0" style="float: left">tieucau0</label> -->
            <input type="number" placeholder="tieucau0" name="tieucau0" id="tieucau0">
            <!-- <label for="tq0" style="float: left">tq0</label> -->
            <input type="number" placeholder="tq0" name="tq0" id="tq0">
            <!-- <label for="aptt0" style="float: left">aptt0</label> -->
            <input type="number" placeholder="aptt0" name="aptt0" id="aptt0">
            <!-- <label for="fibrinogen0" style="float: left">fibrinogen0</label> -->
            <input type="number" placeholder="fibrinogen0" name="fibrinogen0" id="fibrinogen0">
            <!-- <label for="ast0" style="float: left">ast0</label> -->
            <input type="number" placeholder="ast0" name="ast0" id="ast0">
            <!-- <label for="alt0" style="float: left">alt0</label> -->
            <input type="number" placeholder="alt0" name="alt0" id="alt0">
            <!-- <label for="creatinin0" style="float: left">creatinin0</label> -->
            <input type="number" placeholder="creatinin0" name="creatinin0" id="creatinin0">
            <!-- <label for="ure0" style="float: left">ure0</label> -->
            <input type="number" placeholder="ure0" name="ure0" id="ure0">
            <!-- <label for="auric0" style="float: left">auric0</label> -->
            <input type="number" placeholder="auric0" name="auric0" id="auric0">
            <!-- <label for="ldh0" style="float: left">ldh0</label> -->
            <input type="number" placeholder="ldh0" name="ldh0" id="ldh0">
            <!-- <label for="damnieu0" style="float: left">damnieu0</label> -->
            <input type="number" placeholder="damnieu0" name="damnieu0" id="damnieu0">
            <!-- <label for="damnieu24h0" style="float: left">damnieu24h0</label> -->
            <input type="number" placeholder="damnieu24h0" name="damnieu24h0" id="damnieu24h0">
            <!-- <label for="protein0" style="float: left">protein0</label> -->
            <input type="number" placeholder="protein0" name="protein0" id="protein0">
            <!-- <label for="albumin0" style="float: left">albumin0</label> -->
            <input type="number" placeholder="albumin0" name="albumin0" id="albumin0">
            <!-- <label for="bilirubintp0" style="float: left">bilirubintp0</label> -->
            <input type="number" placeholder="bilirubintp0" name="bilirubintp0" id="bilirubintp0">
            <!-- <label for="bilirubintt0" style="float: left">bilirubintt0</label> -->
            <input type="number" placeholder="bilirubintt0" name="bilirubintt0" id="bilirubintt0">
            <!-- <label for="conclusion" style="float: left">conclusion</label> -->
            <input type="text" placeholder="conclusion" name="conclusion" id="conclusion">
        </form>
    </div>
    <% } %>


    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>


    <!-- start footer Area -->
    <footer class="footer-area area-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 single-footer-widget">
                    <h4>Top Products</h4>
                    <ul>
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 single-footer-widget">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 single-footer-widget">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>You can trust us. we only send promo offers,</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'"
                                required="" type="email" />
                            <button class="click-btn btn btn-default">
                                <i class="ti-arrow-right"></i>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                    type="text" />
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>