<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Medcare Medical</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main1.css" rel="stylesheet" media="all">
    <style>
        .requestForm {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            display: inline-block;
            border: 1px solid transparent;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .input--request {
            width: 50%;
            padding: 5px;
            margin: 8px 0;
            margin-left: 2em;
            margin-right: 2em;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        table {
            font-family: arial, sans-serif;
            padding-left: 5%;
            padding-right: 5%;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 15px;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            display: table-cell;
            width: auto;
        }

        th {
            background: #dddddd;
        }

        .request-button {
            border: 1px solid black;
            padding: 0 15px;
            display: inline-block;
            vertical-align: top;
            min-width: 150px;
        }

        .table-label {
            font-family: arial, sans-serif;
            text-align: center;
            margin: 0 0 10px;
        }
    </style>
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container">
                <div class="float-left">
                    <a class="dn_btn" href="mailto:medical@example.com"><i class="ti-email"></i>medical@example.com</a>
                    <span class="dn_btn"> <i class="ti-location-pin"></i>Find our Location</span>
                </div>
                <div class="float-right">
                    <ul class="list header_social">
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li><a href="#"><i class="ti-skype"></i></a></li>
                        <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/index"><img src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/healthrecord">Health Record</a></li>
                            <li class="nav-item"><a class="nav-link" href="/doctors">Doctors</a></li>
                            <li class="nav-item"><a class="nav-link" href="/patients">Patients</a></li>
                            <li class="nav-item"><a class="nav-link" href="/request/">Request</a></li>
                            <li class="nav-item"><a class="nav-link" href="/profile/">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="body">
        <div class="container">
            <div class="requestForm">
                <h3 class="table-label">Be Requested</h3>
                <% if(data.berequest){ %>
                <table>
                    <tr>
                        <th>Request ID</th>
                        <th>Requester Role</th>
                        <th>Resource Owner Role</th>
                        <th>Resource Type</th>
                        <th>Resource ID</th>
                        <th>Requester ID</th>
                        <th>Resource Owner ID</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>

                    <% for(var i=0;i < data.berequest.length;i++){ %>
                    <tr>
                        <td id="requestId"><%= data.berequest[i].requestId%></td>
                        <td id="requesterRole"><%= data.berequest[i].requesterRole%></td>
                        <td id="resourceOwnerRole"><%= data.berequest[i].resourceOwnerRole%></td>
                        <td id="resourceType"><%= data.berequest[i].resourceType%></td>
                        <td id="resourceId"><%= data.berequest[i].resourceId%></td>
                        <td id="idRequester"><%= data.berequest[i].owner%></td>
                        <td id="idResourceOwner"><%= data.berequest[i].resourceOwner%></td>
                        <td id="status"><%= data.berequest[i].status%></td>
                        <td>
                            <% if(data.berequest[i].status=='Accepted') {%>
                            <form action="/request/reject" method="POST">
                                <input type="hidden" name="requestId" value="<%= data.berequest[i].requestId%>">
                                <input type="hidden" name="requesterRole" value="<%= data.berequest[i].requesterRole%>">
                                <button class="request-button" type="submit">Reject</button>

                            </form>
                            <% } %>
                            <% if(data.berequest[i].status=='New') {%>
                            <form action="/request/accept" method="POST">
                                <input type="hidden" name="requestId" value="<%= data.berequest[i].requestId%>">
                                <input type="hidden" name="requesterRole" value="<%= data.berequest[i].requesterRole%>">
                                <button class="request-button" type="submit">Accept</button>

                            </form>
                            <form action="/request/reject" method="POST">
                                <input type="hidden" name="requestId" value="<%= data.berequest[i].requestId%>">
                                <input type="hidden" name="requesterRole" value="<%= data.berequest[i].requesterRole%>">
                                <button class="request-button" type="submit">Reject</button>

                            </form>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </table>
                <% } %>
                <h3 class="table-label">Requested</h3>
                <% if(data.request){ %>
                <table>
                    <tr>
                        <th>Request ID</th>
                        <th>Requester Role</th>
                        <th>Resource Owner Role</th>
                        <th>Resource Type</th>
                        <th>Resource ID</th>
                        <th>Requester ID</th>
                        <th>Resource Owner ID</th>
                        <th>Status</th>
                    </tr>

                    <% for(var i=0;i < data.request.length;i++){ %>
                    <tr>
                        <td id="requestId"><%= data.request[i].requestId%></td>
                        <td id="requesterRole"><%= data.request[i].requesterRole%></td>
                        <td id="resourceOwnerRole"><%= data.request[i].resourceOwnerRole%></td>
                        <td id="resourceType"><%= data.request[i].resourceType%></td>
                        <td id="resourceId"><%= data.request[i].resourceId%></td>
                        <td id="idRequester"><%= data.request[i].owner%></td>
                        <td id="idResourceOwner"><%= data.request[i].resourceOwner%></td>
                        <td id="status"><%= data.request[i].status%></td>
                    </tr>
                    <% } %>
                </table>
                <% } %>
            </div>
        </div>
    </div>


    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>


    <!-- start footer Area -->
    <footer class="footer-area area-padding-top">
        <div class="container">

            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>